{% extends "text_base.html" %}

{% block title %}TheHaloMod | Acknowledging {% endblock %}

{% block subheading %}
    <div class='page-header'>
        <h2>Acknowledging</h2>
    </div>
{% endblock %}

{% block content %}
    <h4>How To Acknowledge Use Of TheHaloMod</h4>

    Thank you very much for using TheHaloMod (or the hmf or halomod backends) for your
    research.
    We hope it has met your needs. If you have found it to be a useful tool,
    please let us know! The best way to do this is to cite
    <a href="https://arxiv.org/abs/2009.14066" target="_blank">Murray et al. (2020)</a>.
    If you used TheHaloMod primarily for the halo mass functions (or you got here by
    searching for HMFcalc), perhaps citing
    <a href="http://arxiv.org/abs/1306.6721" target="_blank">Murray et al. (2013)</a>
    is more appropriate.


{% endblock %}
