{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}TheHaloMod | Plots {% endblock %}

{% block allcontent %}

    <div class="container">
        <div class="row">
            <div class="col-7">
                {% crispy form %}
            </div>
            <div class="col-5">
                <a class="btn btn-success btn-large" href="create/">
                    <i class="fas fa-plus-square"></i> New Model</a>
                <a class="report-model btn btn-warning btn-large" href="report/">
                    <i class="fas fa-bug"></i> Report Bug</a>
                <a class="btn btn-danger btn-large" href="restart/">
                    <i class="fas fa-redo-alt"></i> Restart</a>
            </div>

        </div>

        {% if warnings %}
            <div id='warnings' class='row'>
                <div class='col'>

                    <ul>
                        {% for warning in warnings %}
                            <li class="text-warning"> {{ warning }} </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        {% endif %}

        <div class="row" id="image_row">
            <div class='col-md-12 mx-auto'>
                <img src="power_auto_tracer.svg" id='the_image' width="100%">
            </div>
        </div>


        <!-- Model Table -->
        <div class="row" id="model_table_row">
            <div class="col-8">
                <table class="table" id="model_table">
                    <tbody>
                    {% for object in objects.keys %}
                        <tr id="{{ object }}-table-row">
                            <th scope="row"> {{ object }}</th>
                            <td id="{{ object }}-table-errors">
                                {% for model_name, errors in model_errors.items %}
                                    {% if model_name == object %}
                                    <span style="color: red">
                                        <a tabindex="0"
                                           role="button" data-toggle="popover"
                                           data-trigger="focus", title="Errors for this model"
                                           data-content="{{ errors }}">
                                           <i class="fas fa-exclamation-triangle"></i>
                                        </a>
                                    </span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td id="{{ object }}-table-edit">
                                <a href="edit/{{ object }}/">
                                    <i class="far fa-edit"></i>
                                </a>
                            </td>
                            <td id="{{ object }}-table-create">
                                <span style="color: darkgreen">
                                    <a href="create/{{ object }}/" style="color: green">
                                        <i class="far fa-plus-square"></i>
                                    </a>
                                </span>
                            </td>
                            <td id="{{ object }}-table-report">
                                <span style="color: darkorange">
                                    <a href="report/{{ object }}/" style="color: darkorange">
                                        <i class="fas fa-bug"></i>
                                    </a>
                                </span>
                            </td>
                            <td id="{{ object }}-table-delete">
                                <a href="delete/{{ object }}" id="{{ object }}-table-delete-button">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
